<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Vana Foundation</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="../assets/css/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/js/lib/ekkoLightBox.css">
  <link rel="stylesheet" href="../assets/css/home.css">

</head>

<body>

	<!--section id="loading-overlay" class="overlay show">
		
	  <img class="img-responsive d-block m-auto" src="../assets/icon/Pacman-1s-200px.gif" />
	</section-->


	<!-- Header nav Begin -->
	<header class="container-fluid" id="page-head-nav">
	</header>
	<!-- Header nav End -->


	<!-- Banner Slider Begin -->
	<section class="container-fluid" id="banner-slider">
		<div id="home-banner-slider" class="carousel slide" >
		  	<ol class="carousel-slide carousel-indicators">
		    	<li data-target="#home-banner-slider" data-slide-to="0" class="active"></li>
		    	<li data-target="#home-banner-slider" data-slide-to="1"></li>
		    	<li data-target="#home-banner-slider" data-slide-to="2"></li>
		    	
		  	</ol>
		  	<div class="carousel-inner slider-item" id="home-top-slider-js">
		    	<!--div class="carousel-item active">
		      		<img class="carousel-img img-fluid" src="../assets/img/Top Slider/A12I2459.jpg" class="d-block w-100" alt="...">
		      		<div class="carousel-caption d-block">
		      		    <img class="img-fluid brand-icon" src="../assets/icon/vana-icon.png">
		      		    <div class="d-block m-auto text-center">
		      		    	<p>| Reviving Indian Wisdom |</p>
		      		    	
		      		    </div>
		      		    <div class="view-more">
		      		    	<button class="btn d-block m-auto" data-toggle="modal" data-target=".home-popup-modal" data-src="../assets/img/popup-img.png">FIND OUT MORE</button>
		      		    </div>
		      		    
		      		</div>
		    	</div>
	    		<div class="carousel-item">
	    	  		<img class="carousel-img img-fluid" src="../assets/img/Top Slider/2.jpg" class="d-block w-100" alt="...">

	    	  		<div class="carousel-caption d-block">
	    	  		    <img class="img-fluid brand-icon" src="../assets/icon/vana-icon.png">
	    	  		    <div class="text-center">
	    	  		    	<p>| Reviving Indian Wisdom |</p>
	    	  		    </div>
	    	  		    <div class="view-more">
	    	  		    	<button class="btn d-block m-auto" data-toggle="modal" data-target=".home-popup-modal" data-src="../assets/img/popup-img.png">FIND OUT MORE</button>
	    	  		    </div>
	    	  		    
	    	  		</div>
	    		</div>
		    	
		    	<div class="carousel-item">
		      		<img class="carousel-img img-fluid" src="../assets/img/Top Slider/_MPA7564.jpg" class="d-block w-100" alt="...">
		      		<div class="carousel-caption d-none d-md-block">
		      			<h3>August 15</h3>
		      			<h4 class="carousel-caption-title">Siddhartha Festival</h4>
		      		    <div class="text-center">
		      		    	<p>| Reviving Indian Wisdom |</p>
		      		    </div>
		      		    <div class="view-more">
		      		    	<a href="../visual-archive">
		      		    		<button class="btn d-block m-auto">VIEW VISUAL ARCHIVE</button>
		      		    	</a>
		      		     
		      		 </div>
		      		</div>
		    	</div-->


		  	</div>
	</section>
	<!-- Banner Slider End -->


	<!-- Blockquote row Begin -->
	<section class="container">
		<blockquote class="featured-quote mx-auto text-center">
		  <p class="mb-0 d-inline-flex">“Our vision at Vana Foundation is to revive Indian wisdom. We focus on Indian wisdom, Indian farming and Indian culture through our initiatives and activities.”</p>
		  <footer><b>His Holiness, The Dalai Lama</b></footer>
		</blockquote>
	</section>
	<!-- Blockquote row End -->


	<!-- Initiative row Begin -->
	<section class="container-fluid container-bg" id="featured-initiatives">
		<h2 class="text-center py-4 mb-0">Initiatives</h2>
		<!-- right aligned image 
		<div class="row no-gutters mb-3" >
			<div class="col-lg-7 bg-twocl-left">
				<div class="content">
					<div class="content-head">
						<img class="img-fluid d-block mx-auto mb-5" src="../assets/icon/vidyaloke.png" />
					</div>
						
						<p>
							Vidyaloke means wisdom and light. It’s aspiration is to inspire the study and
                            practice of the Buddha's paths to enlightenment. Not as a spiritual movement
                            or philosophy – but as a facilitator to find one’s path amongst the 84000 paths
                            taught by the Buddha. Through teachings, talks, interactions and virtual
                            resources we aspire to provide shishyas the opportunity to study and learn
                            from the greatest teachers of our time. Drawing from the teachings of the
                            Buddha Shakyamuni and from sacred sutras and texts, we will focus on
                            wisdom that remains crucially relevant even after 2000 years.
						</p>
						<p>
							Beyond the opportunities that Vidyaloke provides, each shishya must chart out a personal journey, being fully aware that the mind deludes itself, projecting what it wishes to see, think and feel. The contribution of many revered Masters and Teachers has been vital in Vidyaloke’s formative years.
						</p>

						<p><a class="content-link" href="#">Visit www.vidyaloke.in 
							<span class="inline-icon">
								<img class="img-fluid w-auto" src="../assets/icon/visit.png"></a>
							</span>
						</p>
				
				</div>
			</div>
			<div class="col-lg-5">
				<div class="content img-column">
					<img class="img-fluid" src="../assets/img/Initiatives/Vidyaloke 808A3985.jpg">
				</div>

			</div>
			
		</div>
		<!-- right aligned image>
		<div class="row no-gutters ">
			<div class="col-sm-5">
				<div class="content img-column img-col-left">
					<img class="img-fluid" src="../assets/img/Initiatives/Vana KrishiIMG_1637.JPG">
				</div>
				
			</div>
			<div class="col-sm-7 bg-twocl-right">
				<div class="content ">
					<div class="content-head">
						<img class="img-fluid d-block mx-auto" src="../assets/icon/vana-krishi.png"/>
					</div>
					<p>
						Vana Krishi is one of the most ambitious initiatives of Vana Foundation. It
                        aims to create farmer networks, assist them with organic certification where
                        needed and facilitate access to consumers. Vana Krishi endeavours to make a
                        concerted effort to reverse some of the corruption of traditional farming and
                        rural life in India.
					</p>
					<p>
						As one of Vana Foundation’s most long-term projects, Vana Krishi might
                        need a decade to make a small dent and 20-30 years before it makes an
                        impact at a large scale. We will need consistent support from our well
                        wishers, sponsors and the community at large.
						<br />
						<a class="content-link" href="../initiatives#initiatives-page"><img class="img-fluid w-auto" src="../assets/icon/go.png"></a>
					</p>
				</div>
				
			</div>
		</div>
		-->
		
	</section>
	<!-- Initiative row End -->

	<!-- Collaborations row Begin -->
	<section id="featured-collab" class="container-fluid mt-5 container-bg">
		<h2 class="text-center py-4 mb-0">Collaborations</h2>

	</section>
	<!-- Collaborations row End -->


	<!-- Blockquote row Begin -->
	<section class="container">

		<blockquote class="featured-quote mx-auto text-center">
		  <p class="mb-0 d-inline-flex">“Our vision at Vana Foundation is to revive Indian wisdom. We focus on Indian wisdom, Indian farming and Indian culture through our initiatives and activities.”</p>
		  <footer><b>His Holiness, The Dalai Lama</b></footer>
		</blockquote>
	</section>
	<!-- Blockquote row End -->


	<!-- Events row Begin -->
	<section id="featured-events" class="container-fluid container-bg">
		<h2 class="text-center py-4 mb-0">Events</h2>

		
	</section>
	<!-- Events row End -->


	<!-- blockquote  row Begin -->
	<section class="container">
		<blockquote class="featured-quote mx-auto text-center">
		  <p class="mb-0 d-inline-flex">“Our vision at Vana Foundation is to revive Indian wisdom. We focus on Indian wisdom, Indian farming and Indian culture through our initiatives and activities.”</p>
		  <footer><b>His Holiness, The Dalai Lama</b></footer>
		</blockquote>
	</section>
	<!-- blockquote  row End -->



	<!-- Library  row Begin -->

	<section id="library-row" class="container-fluid mb-5 container-bg">
		<h2 class="text-center py-4 mb-0">Library</h2>
		<div class="row no-gutters">
			<div class="col-md-12">
				<div class="d-md-flex">
					<a href="../library#videos" class="icon-rollover mx-auto">
						<figure class="rounded-circle mx-4">
							<img class="img-inline" src="../assets/img/Library/VideoCircle.png">
							
						</figure>
						<span class="icon-title-video">VIDEO</span>
					</a>
					<a href="../library#recordings"  class="mx-auto icon-rollover">
						<figure class="rounded-circle mx-4">
							<img class="img-inline" src="../assets/img/Library/AudioCircle.png">
						</figure>
						<span class="icon-title-audio">AUDIO</span>
					</a>
					<a href="../library#teachings" class="mx-auto icon-rollover">
						<figure class="rounded-circle mx-4">
							<img class="img-fluid" src="../assets/img/Library/LearningCircle.png">
						</figure>
						<span class="icon-title-learning">LEARNING</span>
					</a>
					<a href="../library#readings" class="mx-auto icon-rollover">
						<figure class="rounded-circle mx-4">
							<img class="img-fluid" src="../assets/img/Library/BooksCircle.png">
						</figure>
						<span class="icon-title-books">
							BOOKS
						</span>
					</a>
				</div>
				
			</div>

		</div>
		<div class="view-more">
			<a href="../library">
				<button class="btn  d-block m-auto">VIEW LIBRARY</button>
			</a>	
		</div>
	</section>

	<!-- Library  row End -->


	<!-- Visual Archive  row Begin -->

	<section id="visual-archive-row" class="container-fluid mb-5 container-bg">
		<h2 class="text-center py-4 mb-0">Visual Archive</h2>


	</section>

	<!-- Visual Archive  row End -->


	<!-- News Row Begin -->
		<section id="featured-news" class="container-fluid container-bg">
			<h2 class="text-center py-4 mb-0">News</h2>

			<!--Text Slider-->
			<div id="news-text-slider" class="carousel slide" >
			  	
			  	<div class="carousel-inner">
			    	<div class="carousel-item active">
			    
			    		<div class="row no-gutters px-5 ">
			    		 	<div class="col px-3 px-sm-5 text-carousel">
			    		 		<h3>27th December, 2019- 5th  January, 2020</h3>
			    		 		<h5>Pune - Bengaluru</h5>
			    		 		<p>Upcoming Teachings by Dzongzar Jamyang Khyentse Rinpoche.</p>
			    		 	</div>
			    		 	<hr class="mx-0 vertical-line">
			    		 	<div class="col px-3 px-sm-5 text-carousel">
			    		 		<h3>May 17</h3>
			    		 		<h5>VANA FOUNDATION MAKES A COMMITTMENT FOR THE ARTS</h5>
			    		 		<p>Authentic traditions of wellness, medicine
			    		 		and wisdom have been brought together
			    		 		at Vana with creative thought, deep
			    		 		commitment and personalised support.</p>
			    		 	</div>
			    		 	<hr class="mx-0 vertical-line">
			    		 	<div class="col px-3 px-sm-5 text-carousel">
			    		 		<h3>May 17</h3>
			    		 		<h5>VANA FOUNDATION MAKES A COMMITTMENT FOR THE ARTS</h5>
			    		 		<p>Authentic traditions of wellness, medicine
			    		 		and wisdom have been brought together
			    		 		at Vana with creative thought, deep
			    		 		commitment and personalised support.</p>
			    		 	</div>
			    		</div>
			    	
			    	</div>


			    	  
			    	<div class="carousel-item">
			    	  	  
	    	  	  		<div class="row no-gutters px-5 ">
	    	  	  		 	<div class="col px-5 text-carousel">
	    	  	  		 		<h3>May 17</h3>
	    	  	  		 		<h5>VANA FOUNDATION MAKES A COMMITTMENT FOR THE ARTS</h5>
	    	  	  		 		<p>Authentic traditions of wellness, medicine
	    	  	  		 		and wisdom have been brought together
	    	  	  		 		at Vana with creative thought, deep
	    	  	  		 		commitment and personalised support.</p>
	    	  	  		 	</div>
	    	  	  		 	<hr class="mx-0 vertical-line">
	    	  	  		 	<div class="col px-5 text-carousel">
	    	  	  		 		<h3>May 17</h3>
	    	  	  		 		<h5>VANA FOUNDATION MAKES A COMMITTMENT FOR THE ARTS</h5>
	    	  	  		 		<p>Authentic traditions of wellness, medicine
	    	  	  		 		and wisdom have been brought together
	    	  	  		 		at Vana with creative thought, deep
	    	  	  		 		commitment and personalised support.</p>
	    	  	  		 	</div>
	    	  	  		 	<hr class="mx-0 vertical-line">
	    	  	  		 	<div class="col px-5 text-carousel">
	    	  	  		 		<h3>May 17</h3>
	    	  	  		 		<h5>VANA FOUNDATION MAKES A COMMITTMENT FOR THE ARTS</h5>
	    	  	  		 		<p>Authentic traditions of wellness, medicine
	    	  	  		 		and wisdom have been brought together
	    	  	  		 		at Vana with creative thought, deep
	    	  	  		 		commitment and personalised support.</p>
	    	  	  		 	</div>
	    	  	  		</div>
	    	  	  	
	    	  	  	</div>
			    	  
			    		
			  				
			</div>

			<div class="news-row-footer">
				<ul class="carousel-indicators">
				  	<li data-target="#news-text-slider" data-slide-to="0" class="active"></li>
				  	<li data-target="#news-text-slider" data-slide-to="1"></li>
				  	<!--li data-target="#news-text-slider" data-slide-to="2"></li-->
				</ul>
			</div> 

		</section>
	<!-- News Row Begin -->

	<!-- Blockquote row begin -->
	<section class="container">
		<blockquote class="featured-quote mx-auto text-center">
		  <p class="mb-0 d-inline-flex">“Our vision at Vana Foundation is to revive Indian wisdom. We focus on Indian wisdom, Indian farming and Indian culture through our initiatives and activities.”</p>
		  <footer><b>His Holiness, The Dalai Lama</b></footer>
		</blockquote>
	</section>
	<!-- blockquote row end -->

	<!--Footer Banner Begin -->
	<section id="footer-banner" class="container-fluid">
				
	</section>
	
	<!-- Footer Banner End -->


	<!--Footer-->
	<footer class="container-fluid" id="page-foot">
	 	
	</footer>
	<!--Footer-->


	<!-- home popup modal -->
	<div class="modal fade home-popup-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-xl">
	    <div class="modal-content">
	 
		        <button type="button" class="close home-modal-close" data-dismiss="modal" aria-label="Close">
		        	<img src="../assets/icon/home-slider/home-popup-close.png" class="" />
		          <!--span aria-hidden="true">&times;</span-->
		        </button>
	   
	    	<div class="modal-body">
	    	  <div class="container-fluid">
	    	    <div class="row no-gutters">
	    	      <div class="col-lg-5">
	    	      	<div class="popup-text-content">
	    	      	<div id="home-text-slider" class="carousel slide" >
	    	      	          <ul class="carousel-indicators">
	    	      	              <li data-target="#home-text-slider" data-slide-to="0" class="active"></li>
	    	      	              <li data-target="#home-text-slider" data-slide-to="1" class=""></li>
	    	      	              
	    	      	          </ul>

	    	      	          <div class="carousel-inner">
	    	      	            <div class="carousel-item active">
	    	      	          
	    	      	              <div class="row no-gutters">
	    	      	                <div class="col">
	    	      	                <h3> Vana Vision Statement </h3>
	    	      	                      <p>Our vision at Vana Foundation is to revive Indian wisdom. We will focus on
											Indian wisdom, Indian farming and Indian culture through our initiatives and
											activities, with an aspiration to benefit all, especially India and its youth.
	    	      	                      </p>
	    	      	                      <p>Vidyaloke is one of Vana Foundation’s most significant initiatives. The
											Buddha’s wisdom lies at its heart and inspiring the study and practice of the
											Buddha’s paths to enlightenment, is its mission.</p> 
	    	      	                      <p>Our ambitions for Indian farming are being manifested through Vana Krishi,
											with a hope to create farmer networks, promote traditional farming methods
											and encourage rural life
	    	      	                      </p>
	    	      	                </div>
	    	      	              </div>
	    	      	            </div>                
	    	      	            <div class="carousel-item"> 
	    	      	                  <div class="row no-gutters">
	    	      	                    <div class="col">
	    	      	                      <p>The foundation’s goals to revive aspects of Indian culture span across music,
											food, textiles and art. 
	    	      	              		</p>
	    	      	                  </div>    
	    	      	                </div>    
	    	      	            </div>      
	    	      	      </div>
	    	      	  </div>
	    	      	</div>
	    	      </div>
	    	      <div class="col-lg-7 ml-auto">
	    	      	<div class="popup-img-content">
	    	      	 <img src="../assets/img/Top Slider Pop-UP/Top slider Pop-Up.jpg" class="img-fluid" />
	    	      	</div>
	    	      </div>
	    	    </div>
	    	</div>
	    </div>
	    </div>
	  </div>
	</div>


	<!-- events popup modal -->
	<div class="modal fade events-popup-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-xl">
	    <div class="modal-content">
	 
		        <button type="button" class="close events-modal-close" data-dismiss="modal" aria-label="Close">
		        	<img src="../assets/icon/4C_EVENTS Lightbox/4C_EVENTS Lightbox/Close icon_Group 268.png" class="" />
		          <!--span aria-hidden="true">&times;</span-->
		        </button>
	   
	    	<div class="modal-body">
	    	  <div class="container-fluid">
	    	    <div class="row no-gutters">
	    	      <div class="col-lg-5 col-left">
	    	      	<div class="popup-text-content">
	    	      		<h4>Siddharth Festival</h4>
	    	      		<label>
	    	      			<strong>
	    	      			16th - 18th  November,<br /> 
							THE MAHABODHI FESTIVAL,<br />
							BODH GAYA
							</strong>
	    	      		</label>
	    	      		<p>
	    	      			Siddhartha was born as an Indian prince, but he wasn’t born enlightened. It's tempting to deify him; to say a God walked amongst us, but that would go against everything he taught us. The moment Prince Siddhartha encountered suffering, he dedicated his life to find a way out of it, for himself and everyone else. He renounced all material belongings, suffered adversity, triumphed over desire and longing to eventually achieve enlightenment. When he became the ‘Buddha', he laid out the path he followed in a way that any and all humans 

	    	      		</p>
	    	      	  </div>
	    	      	  <a href="../visual-archive?filter=sf" class="events-filter-link">
	    	      	  <img src="../assets/icon/4C_EVENTS Lightbox/4C_EVENTS Lightbox/Group 6.png" />
	    	      	</a>
	    	      	</div>
	    	   
	    	      <div class="col-lg-7">
	    	      	<div class="popup-img-content">
	    	      	 <img src="../assets/icon/4C_EVENTS Lightbox/4C_EVENTS Lightbox/popup-img.png" class="img-fluid" />
	    	      	</div>
	    	      </div>
	    	    </div>
	    	</div>
	    </div>
	    </div>
	  </div>
	</div>


	<!-- TEMPLATES -->


	<!-- TOP SLIDER Carousel item -->
	<script type="text/template" id="top-slide-template">
			<div class="carousel-item">
		  		<img 
		  			class="carousel-img img-fluid d-block w-100" 
		  			src="//vana-cockpit.test.openrun.net<%= path %>" 
		  			alt="..." loading="lazy"/>

		  		<div class="carousel-caption d-block">
		  		    <img class="img-fluid brand-icon" src="../assets/icon/vana-icon.png">
		  		    <div class="d-block m-auto text-center">
		  		    	<p><%= meta.title %></p>
		  		    	
		  		    </div>
		  		    <%if(!meta.cta_target){%>
		  		    <div class="view-more">
		  		    	<button class="btn d-block m-auto" data-toggle="modal" data-target=".home-popup-modal" data-src="../assets/img/popup-img.png"><%= meta.cta_text %></button>
		  		    </div>
		  		    <%} else { %>
		  		    	<div class="view-more">
		  		    	<a href="<%=meta.cta_target%>">
		  		    		<button class="btn d-block m-auto" ><%= meta.cta_text %></button>
		  		    		</a>
		  		    	</div>
		  		    <%}%>
		  		    
		  		</div>
			</div>
	</script>

	<!-- INITIATIVES vidyaloke Template-->
	<script type="text/template" id="initiative-vl-template">
				<div class="row no-gutters mb-3" >
					<div class="col-lg-7 bg-twocl-left">
						<div class="content">
							<div class="content-head">
								<img class="img-fluid d-block mx-auto mb-5" src="//vana-cockpit.test.openrun.net<%= logo.path %>" loading="lazy"/>
							</div>
								
								<%= content %>
								<p><a class="content-link" href="#">Visit www.vidyaloke.in 
									<span class="inline-icon">
										<img class="img-fluid w-auto" src="../assets/icon/visit.png"></a>
									</span>
								</p>
						
						</div>
					</div>
					<div class="col-lg-5">
						<div class="content img-column">
							<img class="img-fluid" src="//vana-cockpit.test.openrun.net<%= gallery[0].path %>" loading="lazy" />
						</div>

					</div>
					
				</div>
	</script>

	<!-- Intiatives Vana Krishi template -->
	<script type="text/template" id="initiative-vk-template">
		<div class="row no-gutters ">
			<div class="col-lg-5">
				<div class="content img-column img-col-left">
					<img class="img-fluid" src="//vana-cockpit.test.openrun.net<%= gallery[0].path %>" loading="lazy" />
				</div>
				
			</div>
			<div class="col-lg-7 bg-twocl-right">
				<div class="content ">
					<div class="content-head">
						<img class="img-fluid d-block mx-auto" src="//vana-cockpit.test.openrun.net<%= logo.path %>" loading="lazy" />
					</div>
					<%= content %>
						<br />
						<p>
						<a class="content-link" href="../initiatives#initiatives-page"><img class="img-fluid w-auto" src="../assets/icon/go.png"></a>
					</p>
				</div>
				
			</div>
		</div>

				<!--Add More-->
		<div class="paginate-icon p-3">
			<img class="img-fluid d-block m-auto w-auto" src="../assets/icon/group3180.png">
		</div>
	</script>

	<!-- Collaborations template -->

	<script type="text/template" id="collab-row-template">
		<div class="card-group">
		  <div class="card ml-md-0">
		    <img class="card-img-top" src="//vana-cockpit.test.openrun.net<%= models[0].attributes.gallery[0].path%>" alt="Card image cap" loading="lazy" />
		    <div class="card-body bg-collab-grape">
		    	<div class="card-title">
	    			<img class="img-fluid d-block m-auto" src="//vana-cockpit.test.openrun.net<%= models[0].attributes.logo.path%>" loading="lazy" />
	    		</div>
	      		<p class="card-text mt-auto"><%= truncateWords(models[0].attributes.cardInfo, 20) %></p>
				<a class="pl-4" href="../collaborations#collab-siddhartha-festival">
					<img class="img-fluid card-go" src="../assets/icon/go.png" loading="lazy" />
				</a>
				
		      
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="//vana-cockpit.test.openrun.net<%= models[1].attributes.gallery[0].path%>" alt="Card image cap" loading="lazy" />
		    <div class="card-body bg-collab-sky">
		    	<div class="card-title">
		      		<img class="img-fluid d-block m-auto" src="//vana-cockpit.test.openrun.net<%= models[1].attributes.logo.path%>" loading="lazy" />		    
		      		
		      	</div>
  	      		<p class="card-text mt-auto"> <%= truncateWords(models[1].attributes.cardInfo, 20) %></p>
  				<a class="pl-4" href="../collaborations#collab-see">
  					<img class="img-fluid card-go" src="../assets/icon/go.png" loading="lazy" />
  				</a>
		     
		    </div>
		  </div>
		  <div class="card mr-md-0">
		    <img class="card-img-top" src="//vana-cockpit.test.openrun.net<%= models[2].attributes.gallery[0].path%>" alt="Card image cap" loading="lazy" />
		    <div class="card-body bg-collab-earth">
		    	<div class="card-title">
		    		<img class="img-fluid d-block m-auto" src="//vana-cockpit.test.openrun.net<%= models[2].attributes.logo.path%>" loading="lazy" />
		    	</div>
      
	      		<p class="card-text mt-auto"><%= truncateWords(models[2].attributes.cardInfo, 20) %>
                </p>
				<a class="pl-4" href="../collaborations#collab-lighting-the-mahabodhi">
	      			<img class="img-fluid card-go" src="../assets/icon/go.png" loading="lazy" />
	      		</a>
		    </div>
		  </div>
		</div>

		<!--Add More-->
		<div class="paginate-icon p-3">
			<img class="img-fluid d-block m-auto w-auto" src="../assets/icon/group3180.png">
		</div>
	</script>

	<!-- Events Template -->
	<script type="text/template" id="events-row-template">
		<div class="row no-gutters">
				<div class="col-md-12">
					<div class="grid-img">
						<figure class="grid-img1 mb-0">
						<a href="javascript:void(0)" data-toggle="modal" data-target=".events-popup-modal" data-src="../assets/img/popup-img.png">
							<img class="img-fluid" src="//vana-cockpit.test.openrun.net<%= models[0].attributes.image.path%>" loading="lazy" />
							<div class="grid-overlay">
									<p><%=  models[0].attributes.featuredText %>
									</p>
								</div>
							<div class="d-block text-center grid-caption">
								
								<h3><%=formatDate(models[0].attributes.from)%></h3>
								<small><%=models[0].attributes.name%></small>

							</div>

							</a>
						</figure>

						<figure class="grid-img2 mb-0">
						<a href="javascript:void(0)" data-toggle="modal" data-target=".events-popup-modal" data-src="../assets/img/popup-img.png">
							<img class="img-fluid" src="//vana-cockpit.test.openrun.net<%= models[1].attributes.image.path%>" loading="lazy" />
							<div class="grid-overlay">
								<p><%=  models[0].attributes.featuredText %>
								</p>
							</div>
							<div class="d-block text-center grid-caption">
								
								<h3><%=formatDate(models[1].attributes.from)%></h3>
								<small><%= models[0].attributes.name %></small></div>
							</a>
						</figure>
						<figure class="grid-img3 mb-0">
						<a href="javascript:void(0)" data-toggle="modal" data-target=".events-popup-modal" data-src="../assets/img/popup-img.png">
							<img class="img-fluid" src="//vana-cockpit.test.openrun.net<%= models[2].attributes.image.path%>" loading="lazy" />
							<div class="grid-overlay">
								<p><%=  models[2].attributes.featuredText %>
								</p>
							</div>
							<div class="d-block text-center grid-caption">
								
								<h3><%=formatDate(models[2].attributes.from)%></h3>
								<small><%= models[2].attributes.name %></small></div>
								</a>
						</figure>
						<figure class="grid-img4 mb-0">
						<a href="javascript:void(0)" data-toggle="modal" data-target=".events-popup-modal" data-src="../assets/img/popup-img.png">
							<img class="img-fluid" src="//vana-cockpit.test.openrun.net<%= models[3].attributes.image.path%>" loading="lazy" />
							<div class="grid-overlay">
								<p><%=  models[3].attributes.featuredText %>
								</p>
							</div>
							<div class="d-block text-center grid-caption">
								
								<h3><%=formatDate(models[3].attributes.from)%></h3>
								<small><%=  models[3].attributes.name %></small></div>
								</a>
						</figure>

						<figure class="grid-img5 mb-0">
						<a href="javascript:void(0)" data-toggle="modal" data-target=".events-popup-modal" data-src="../assets/img/popup-img.png">
							<img class="img-fluid" src="//vana-cockpit.test.openrun.net<%= models[4].attributes.image.path%>" loading="lazy" />
							<div class="grid-overlay">
								<p><%=  models[4].attributes.featuredText %>
								</p>
							</div>
							<div class="d-block text-center grid-caption">
								
								<h3><%=formatDate(models[4].attributes.from)%></h3>
								<small><%=  models[4].attributes.name %></small></div>
								</a>
						</figure>
					</div>
					
				</div>

		</div>

		<div class="view-more">
			<a href="../events">
				<button class="btn  d-block mx-auto mt-4">VIEW MORE EVENTS</button>
			</a>
		</div>
	</script>
	<!-- Visual Archive Template -->
	<script type="text/template" id="va-row-template">
		<div class="row no-gutters mb-4">
			<div class="col-md-12">
				<img class="img-fluid" src="//vana-cockpit.test.openrun.net<%= image.path %>" loading="lazy" />
				<div class="overlay-caption d-none d-sm-block">
				    <h3><%= title %></h3>
				  
				    	<%= content %>
				
				    <div class="view-more">
				    	
				    	<button class="btn btn-more d-block" data-toggle="modal" data-target=".events-popup-modal" data-src="../assets/img/popup-img.png">FIND OUT MORE
				    		 
				    	</button>


				    	<!-- elements not showing, use data-remote -->
				    	<img data-toggle="lightbox" data-gallery="visual-archive-preview" data-remote="../assets/img/img18.png" data-title="" />
				    	<!--div data-toggle="lightbox" data-gallery="visual-archive-preview" data-remote="https://www.youtube.com/embed/b0jqPvpn3sY" data-title="Hidden item 2"></div-->
				    	<div data-toggle="lightbox" data-gallery="visual-archive-preview" data-remote="../assets/img/img13.png" data-title=""></div>
				    	<div data-toggle="lightbox" data-gallery="visual-archive-preview" data-remote="../assets/img/img18.png" data-title=""></div>
				    	<div data-toggle="lightbox" data-gallery="visual-archive-preview" data-remote="../assets/img/img13.png" data-title=""></div>	
				    </div>
				</div>
			</div>
		</div>
		<div class="view-more">
			<a href="../visual-archive">
				<button class="btn d-block m-auto">VISIT VISUAL ARCHIVE</button>
			</a>
		</div>
	</script>

	<script type="text/template" id="foot-banner-template">
		<div class="row">
			<div class="col">
				<div class="content" style="background: url(https://vana-cockpit.test.openrun.net<%= image.path %>) no-repeat 100% 100%;">
					<div class="mx-0 text-center overlay-link">
						<a target="_blank" href="<%= link %>"><%= linkText %> <img class="img-fluid" src="../assets/icon/visit.png"></a>
						
					</div>
										<div class="mx-0 text-center overlay-link">
						<a target="_blank" href="<%= link %>"><%= linkText %> <img class="img-fluid" src="../assets/icon/visit.png"></a>
						
					</div>
					<img class="img-fluid footer-banner-logo d-none d-md-block" src="../assets/icon/vana-logo.png" />

				</div>
				
			</div>
		</div>
	</script>
  <!-- Jquery and Bootstrap js JS-->
  <script src="../assets/js/lib/jquery-3.3.1.js" defer></script>
  <script src="../assets/css/lib/bootstrap/js/bootstrap.min.js" defer></script>
  <script src="../assets/js/lib/ekkoLightBox.js" defer></script>

  <script type="text/javascript" src="../assets/js/app/lib/underscore-min.js" defer></script>
  <script type="text/javascript" src="../assets/js/app/lib/backbone-min.js" defer></script>
  
  <!-- UI / UX JS -->
  
  <script src="../assets/js/script.js" defer></script>

  <!-- App Scripts -->
  <script type="text/javascript" src="../assets/js/app/components/utilities.js" defer></script>
  <!--script type="text/javascript" src="../assets/js/app/components/audioPlayerView.js" defer></script-->
  <script type="text/javascript" src="../assets/js/app/models.js" defer></script>
  <script type="text/javascript" src="../assets/js/app/controller.js" defer></script>
  <script type="text/javascript" src="../assets/js/app/views.js" defer></script>
  <script type="text/javascript" src="../assets/js/app/router.js" defer></script>
  <script type="text/javascript" src="../assets/js/app/index.js" defer></script>


</body>
</html>