/*Font Family*/
@font-face {
font-family: "Merriweather";
src:
url("font/merriweather-regular.otf") format("opentype");
}
@font-face {
font-family: "Source Sans Pro";
src:
url("font/SourceSansPro-Semibold.otf") format("opentype");;
}

/* Global Styles */
body {
	overflow-x: hidden;
}
:focus {
	outline:none !important;
	border:0;
}
::-moz-focus-inner {
  border: 0 !important;
}


.container-fluid {
	max-width: 1280px;
}



/*Header navigation*/


#navbarNav {
  min-width: 28rem;
  height: auto;
  position: absolute;
  top: 58px;
  right: 0;
  transition: all 0.4s;
  z-index: 16;
  background-color: #fff;
  font-family: Merriweather, Source Sans Pro;
}

#navbarNav .nav-item {
	padding-left: 25px;
	border-bottom: 2px solid rgba(137, 110, 3, 0.2);;
}
#navbarNav .nav-link{
	color: #896E03 !important;
	font-size: 24px;
}
#navbarNav .nav-link:hover {
	color: #0D2D40 !important;
}
#navbarNav .link-arrow::after {
	content: url('../icon/up-arrows.png');
	vertical-align: text-bottom;
	padding-left: 15px;
}
#navbarNav .link-arrow:hover::after, .link-arrow:focus::after {
	content: url('../icon/up-arrow.png');
	vertical-align: text-bottom;
	padding-left: 15px;
}
#navbarNav .nav-link:focus {
	color: #0D2D40 !important;
}
#navbarNav .link-collapse {
	font-size:18px;
	font-weight: normal;
	font-family: Source Sans Pro;
}
.navbar-toggler::after {
	content: url('../icon/close.png');
	transition: all 0.4s;
}
.navbar-toggler.collapsed::after {
	content: url('../icon/hamburger.png');
	transition: all 0.4s;
}

.navbar-toggler {
	border: none;
	max-width: 60px;
	max-height: 36.5px;
}
.header-button button{

	border-radius: 0px;
	background-color: #0d2d40;
	color: #fff;
}
.header-button{
	white-space: nowrap;
	line-height: 24px;
	text-align: center;
	/*font-family: Source Sans Pro;*/
	font-style: normal;	
	font-size: 18px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.55px;
}
.header-button button{
	font-weight: bold;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.header-menu .dropdown-item{
	color: #a09156;
	font-family: Merriweather, Source Sans Pro;
	cursor: pointer;
	font-style: normal;
	font-weight: normal;
}
.dropdown-submenu li a{
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 2;
	padding: .25rem 1.5rem;
	color: #a09156;
	cursor: pointer;
}
.nav-contact-section{
	background-color: rgba(219,209,167,1);
	padding: .25rem 1.5rem;
}
.nav-contact-section label{
	font-family: Source Sans Pro;
	font-style: normal;
	/*font-weight: bold;*/
	color: rgba(85,65,71,1);
}
.nav-contact-section form textarea{
	height: calc(2.25rem + 2px);
}
.nav-contact-section form input, .nav-contact-section form textarea{
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(90,69,75,1);
}
.nav-contact-section .form-check .form-check-label{
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	color: rgba(85,65,71,1);
}
.nav-contact-submit{
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	top: -11px;
	background-color: rgb(164, 177, 100) !important;
	right: 0px;
}
.dropdown-followus{
	width: 176px;
	height: 28.532px;
	background: rgb(164, 177, 100);
	border-radius: 10px;
	margin-top: 2rem;
}

/*Image carousel*/
.carousel-item img{
	width: 100%;

}
.slider-item .carousel-item{
	/*max-height: 92vh;*/
}
.carousel-caption,.banner-caption{
	transform: translateY(-50%);
	bottom: 0;

}
.carousel-caption{
	font-weight: bold;
	font-size: 18px;
}
.carousel-caption .brand-icon{
	max-width: 415px;
}
.carousel-caption div{
	margin: 0 auto;
	padding: 25px 0;
	align-items: center;
	justify-content: space-around;
}
.carousel-caption span{
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05px;
}
.carousel-caption-title{
	letter-spacing: 0.9px;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.carousel-desc{
	font-weight: bold;
	letter-spacing: 0.9px;
	line-height: 29px;
	font-family: Source Sans Pro;
}
.carousel-slide{
	position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:20px;
    right:-23px; left:auto;
    width:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.carousel-leftslide{
	position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:20px;
    right:auto; left:-30px;
    width:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.carousel-slide li,.carousel-leftslide li{
	border-radius: 10px;
    margin: 1px 15px;
    height: 10px;
    max-width: 10px;
    border: 2px solid #fff!important;
    background-color: transparent;
}
.carousel-slide .active,.carousel-leftslide .active,.carousel-indicators .active{
	background-color: #fff!important;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

h2 {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(21,72,103,1);
	letter-spacing: 0.2px;	
}

h3{
	font-family: Merriweather;
}
.banner-caption h3{
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05px;
}
.banner-caption p{
	font-family: Source Sans Pro;
	font-size: 20px;
}
.img-layout{
	width: 100%;
	min-height: 100%
}

/*Banner style*/
.banner{
	position: relative;
	background-color: #faf0d7;
}
.banner-vidyaloke{
	background-color: #b76f61;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(241,237,220,1);
	letter-spacing: 0.1px;
}
.banner-vanakrishi{
	background-color: #a09156;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(241,237,220,1);
	letter-spacing: 0.1px;
	padding-top: 3rem;
	padding-left: 5rem !important;
	padding-right: 5rem !important;
}
.banner-vidyaloke, .banner-vanakrishi{
	/*font-size: 14px;
	color: #fff;*/
}
.banner-vidyaloke a,.carousel-content1 a,.carousel-content3 a{
	color: #fff!important;
}
.banner-vanakrishi img{
	width: 21%;
	margin-bottom: 3rem;
}

.blockquote{
	color: #ac848d;
	font-size: 18px;
	letter-spacing: 0.1px;
	line-height: 32px;
}
.blockquote p{
	width: 45%;
	font-family: Merriweather;
}
.blockquote footer {
	font-family: Source Sans Pro;
	font-weight: bold;
}
.banner-view{position: relative;}
.banner-text{
	position: absolute;
	top: 46%;
	height: 30%;
	width: 100%;
}


/*Card View*/
.card-item1{background-color: #ac848d;color: #fff;font-size: 14px;}
.card-item2{background-color: #8da8a1;color: #fff;font-size: 14px;}
.card-item3{background-color: #bf9d5c;color: #fff;font-size: 14px;}
.card-go{width:min-content!important;}

/*Text Carousel*/
.text-carousel{color: #a09156;}
.text-carousel h3{
	text-align: left;
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(137,110,3,1);
	letter-spacing: 0.05px;
}
.text-carousel h5{
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(137,110,3,1);
}
.text-carousel p{
	font-size: 16px;
	line-height: 26px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	color: rgba(137,110,3,1);
	letter-spacing: 0.1px;
}
.carousel-indicators li{
	border-radius: 10px;
    margin: 1px 15px;
    height: 10px;
    max-width: 10px;
    background-color: transparent;
	border: 2px solid #a09156;
}
.carousel-indicators .active{background-color: #a09156;}

 
/*Image grid*/
.grid-img img,.grid-view img{
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.grid-img{
	display: grid;
    grid-template-rows: repeat(8,5vw);
    grid-template-columns: repeat(6,1fr);
    grid-gap: 15px;
} 
.grid-img1{
	grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 9;
}
.grid-img2{
	grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
}
.grid-img3{
	grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}
.grid-img4{
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 9;
}

.grid-caption{
	transform: translateY(-139%);
	bottom: 0;
	top: 50%;
	color: #fff;
}

.banner-caption{
	position: absolute;
	left: 8%;
	padding-top: 60px;
	padding-bottom: 20px;
	color: #fff;
}
/*.banner-goto{
	width:aut;
}*/
hr{
	display: block;
	margin-top: 0.5em;
	margin-bottom: 3.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
	border-color: #a4b16461;
}

/*Footer style*/
.footer-summary .col{
	color: #a09156;
	font-family: Merriweather;
}
.footer-summary h5{
	line-height: 25px;
	text-align: left;
	font-family: Merriweather;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(137,110,3,1);
	letter-spacing: 0.05px;
}
.footer-summary li a{
	white-space: nowrap;
	line-height: 30px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(137,110,3,1);
	letter-spacing: 0.1px;
}
.footer-copyright{
	line-height: 32px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(137,110,3,1);
	letter-spacing: 0.1px;
}

.contact{
	background-color: #dbd1a7;
	padding-top: 45px !important;
	padding-left: 35px !important;
	padding-right: 20px !important;
	font-size: 12px;
	color: #4a4a4a;
}
.contact h5{
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(85,65,71,1);
}
.form-check label,.form-control{
	font-size: 10px;
}
.form-submit{
	background-color: #a4b164;
	border-radius: 0;
	color: #fff;
	font-size: small;
	font-weight: bold;
}
.contact ul li a{
	line-height: 20px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(85,65,71,1);
}
.ContactFormEmail, .ControlTextarea2{
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(90,69,75,1);
}

/*
######################################################################################################################################
COLLABORATIONS
######################################################################################################################################
*/
.carousel-content1{
	background-color: #ac848d;
	color: #fff;
}
.carousel-content2{
	background-color: #8da8a1;;
	color: #fff;
}
.carousel-content3{
	background-color: #bf9d5c;
	color: #fff;
}
.carousel-content4{
	background-color: #a09156;
	color: #fff;
}
.carousel-content1 label,.carousel-content4 label{
	font-size: 21px;	
}
.follow-us{
	background-color: #ac848d;
	color: #fff;
}

/*
######################################################################################################################################
EVENTS
######################################################################################################################################
*/
.btn-dropdown{
	color:rgba(137,110,3,1);
	font-size: 18px!important;
	font-family: Merriweather;
	margin-top: 8px;
}
.event{
	background-color: #dbd1a7;
}
.sort{
	border-radius: 0px;
	font-size: 11px;
    color: #154867;
	border: 1px solid #fff;
	background-color: #fff;
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image:url("../icon/up-arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 40px;
    font-size: 12px;
}
.event-carousel-desc{
	line-height: 32px;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: unset;
	font-size: 24px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05px;
	width: 74%;
}
.grid-divider-left{
	border-left: 1px solid #e0e0e0;
}
.grid-divider-right{
	border-right: 1px solid #e0e0e0;
}
/*Grid Item View*/
.grid-view{
	display: grid;
    grid-template-rows: repeat(14,5vw);
    grid-template-columns: repeat(8,1fr);
    grid-gap: 15px;
}
 
.grid-item1{
	grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.grid-item2{
	grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 8;
}

.grid-item3{
	grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.grid-item4{
	grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 8;
}


.grid-item5{
	grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 8;
}

.grid-item6{
	grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 15;
}

.grid-item7{
	grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 8;
}

.grid-item8{
	grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 15;
}

.grid-item9{
	grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 12;
}

.grid-item10{
	grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 12;
    grid-row-end: 15;
}

.grid-item11{
	grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 11;
}

.grid-item12{
	grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 15;
}

/*
######################################################################################################################################
VISUAL ARCHIVE
######################################################################################################################################
*/
.card-bg1,.card-bg2,.card-bg3,.card-bg4,.card-bg5,.card-bg6{
	color: #fff;
	border-radius: 0;
	border: 0;
}
.card-bg1{background-color: #ac848d;}
.card-bg2{background-color: #dbd1a7 }
.card-bg3{background-color: #a09156}
.card-bg4{background-color: #b76f61}
.card-bg5{background-color: #8da8a1}
.card-body{
	line-height: 26px;
	text-align: left;
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(250,240,215,1);
	letter-spacing: 0.05px;
}
.card-body label,.card-body p{
	/*font-size: 14px;*/
	line-height: 26px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(250,240,215,1);
	letter-spacing: 0.1px;
}

/*
####################################################
H O V E R  E F F E C T
####################################################
*/
.dropdown-menu .dropdown-item:hover {
	color: #154867;
}
.dropdown-menu .dropdown-item:active {
	color: #154867;
}
.dropdown-menu  .dropdown-submenu li:hover{
	color: #154867!important;
}
.dropdown-menu  .dropdown-submenu li:active{
	color: #154867!important;
}

.grid-item1{
	position: relative;
}
.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 35%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.grid-item1:hover .overlay1 {
  opacity: 1;
}
.grid-item1:hover img {
      -webkit-filter: blur(7px);
      filter: blur(7px);
    }
.card{
	position:relative;
    overflow: hidden;
    margin-bottom:10px;
}
.card-content{
	background-color: #fff;
	position: absolute;
	width: 396.902px;
	height: 455.607px;	
	text-align: left;
	opacity: 0;	
}
.card-content h4{
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(137,110,3,1);
}
.card-content p{
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgb(137, 110, 3);
	letter-spacing: 0.1px;
}
.card:hover .card-content{
	opacity: 1;
	top:0px;
    display:block;
}
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 

Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {
.navbar button{
	margin-top: 10px;
	font-size: 0.6rem;
} 
.btn {
	font-size: small;
}  
 .nav-button, .nav-search{
	margin-right: 1rem;
}
.menu-logo{
	width: 70%;
}
.header-menu .dropdown-item{
	font-size: 17px;
}
.nav-contact-section label{
	font-size: 20px;
}
.form-check{
	display: block;
	padding-left: 1.25rem;
}

.nav-contact-section .form-check .form-check-label{
	font-size: 10px;
}
.grid-caption{line-height: 8px;}
.grid-caption  p{
	font-family: Merriweather, Source Sans Pro;
	font-size: 10px;
	margin-bottom: 0px;
}
.grid-caption  span{font-size: 8px;} 
.lib-imgs{
	display: table;
	margin-left: auto;
	margin-right: auto;
}
.news-carousel{
	display: contents;
} 

.vertical-line{
    border-color: #a4b16461;
}
.banner-text a{
	color: #fff;
	font-size: 10px;
	margin-left: 3rem;
}
.banner-logo{
	margin-top: -22px;
	width: 10%!important;
}  
.back-top{
	position: absolute;
	top: -1%;
	margin-left: 35%;
	background-color: #a4b164;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 24px;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.55px;
} 
.view-more{
	background-color: #a4b164;
	padding: 15px 30px 15px 30px;
	border-radius: 0;
	color: #fff;
	
	line-height: 24px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	letter-spacing: 0.55px;
}
.subnav-dropdown{text-align: center;}
.subnav-button{text-align: left;} 
}

/* Small devices (landscape phones, 480px and up) */
@media (min-width: 480px) {
.navbar button{
	margin-top: 10px;
	font-size: 0.6rem;
} 
.btn {
	font-size: small;
}  
 .nav-button, .nav-search{
	margin-right: 3rem;
}
.header-menu .dropdown-item{
	font-size: 17px;
}
.menu-logo{
	width: 70%;
}
.nav-contact-section label{
	font-size: 20px;
}
.form-check{
	display: block;
	padding-left: 1.25rem;
}
.nav-contact-section .form-check .form-check-label{
	font-size: 10px;
}
.grid-caption{line-height: 15px;}
.grid-caption  p{
	font-family: Merriweather, Source Sans Pro;
	font-size: 12px;
	margin-bottom: 0px;
}
.grid-caption  span{font-size: 10px;}  
.lib-imgs{
	display: table;
	margin-left: auto;
	margin-right: auto;
}
.news-carousel{
	display: contents;
}

.vertical-line{
    border-color: #a4b16461;
}
.banner-text a{
	color: #fff;
	font-size: 15px;
	margin-left: 4rem;
}
.banner-logo{
	margin-top: -27px;
	width: 10%!important;
}   
.back-top{
	position: absolute;
	top: -2%;
	margin-left: 40%;
	background-color: #a4b164;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 0;
	padding-top: 7px;
	padding-bottom: 7px;
	line-height: 24px;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.55px;
} 
.view-more{
	background-color: #a4b164;
	
	border-radius: 0;
	color: #fff;
	padding: 15px 30px 15px 30px;
	line-height: 24px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	letter-spacing: 0.55px;
}
} 
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
.navbar button{
	margin-top: 10px;
	font-size: 0.6rem;
} 
.btn {
	font-size: medium;
}  
 .nav-button, .nav-search{
	margin-right: 3rem;
}
.form-check{
	display: block;
	padding-left: 1.25rem;
}
.header-menu .dropdown-item{
	font-size: 17px;
}
.nav-contact-section label{
	font-size: 20px;
}
.menu-logo{
	width: 70%;
}
.nav-contact-section .form-check .form-check-label{
	font-size: 10px;
}
.grid-caption{line-height: 18px;}
.grid-caption  p{
	font-family: Merriweather, Source Sans Pro;
	font-size: 15px;
	margin-bottom: 0px;
}
.grid-caption  span{font-size: 12px;}  
.lib-imgs{
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.news-carousel{
	display: contents;
}

.vertical-line{
    border-color: #a4b16461;
}
.banner-text a{
	color: #fff;
	font-size: 20px;
	margin-left: 7rem;
}
.banner-logo{
	margin-top: -33px;
	width: 10%!important;
}   
.back-top{
	position: absolute;
	top: -3%;
	margin-left: 38%;
	background-color: #a4b164;
	padding-left: 27px;
	padding-right: 27px;
	border-radius: 0;
	padding-top: 9px;
	padding-bottom: 9px;
	line-height: 24px;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.55px;
} 
.view-more{
	background-color: #a4b164;
	
	border-radius: 0;
	color: #fff;
	padding: 15px 30px 15px 30px;
	line-height: 24px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 0.55px;
}
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
.header-menu{
	width: 28rem;
}
.navbar button{
	margin-top: 4px;
	font-size: 1rem;
} 
.btn {
	font-size: medium;
}  
 .nav-button, .nav-search{
	margin-right: 3rem;
}
.form-check{
	position: relative;
	display: block;
	padding-left: 1.25rem;
}
.menu-logo{
	width: 40%;
}
.header-menu .dropdown-item{
	font-size: 24px;
}
.nav-contact-section label{
	font-size: 25px;
}
.nav-contact-submit{
	width: 133.65px;
	height: 37.919px;
	position: absolute;
	font-weight: bold;
	letter-spacing: 1px;
}
.nav-contact-section .form-check .form-check-label{
	font-size: 14px;
}
.grid-caption{line-height: 23px;}
.grid-caption  p{
	font-family: Merriweather, Source Sans Pro;
	font-size: 19px;
	margin-bottom: 0px;
} 
.grid-caption  span{font-size: 14px;} 
.lib-imgs{
	display: flex;
	margin-left: 0px;
	margin-right: 0px;
}
.news-carousel{
	display: contents;
}

.vertical-line{
    border-color: #a4b16461;
}
.banner-text a{
	color: #fff;
	font-size: 25px;
	margin-left: 8rem;
}
.banner-logo{
	margin-top: -71px;
	width: 10%!important;
}    
.back-top{
	position: absolute;
	top: -5%;
	margin-left: 40%;
	background-color: #a4b164;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 24px;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.55px;
}
.view-more{
	background-color: #a4b164;
	
	border-radius: 0;
	color: #fff;
	padding: 15px 30px 15px 30px;
	line-height: 24px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 0.55px;
}
.subnav-dropdown{text-align: left;}
.subnav-button{text-align: right;}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
.header-menu{
	width: 28rem;
}
.navbar button{
	margin-top: 4px;
	font-size: 1rem;
} 
.btn {
	font-size: medium;
} 
 .nav-button, .nav-search{
	margin-right: 3rem;
}
.form-check{
	position: relative;
	display: block;
	padding-left: 1.25rem;
}
.menu-logo{
	width: 40%;
}
.nav-contact-submit{
	width: 133.65px;
	height: 37.919px;
	position: absolute;
	font-weight: bold;
	letter-spacing: 1px;
}
.nav-contact-section .form-check .form-check-label{
	font-size: 14px;
}
.carousel-img{
	filter: brightness(75%);
	-webkit-filter: brightness(75%);
}
.grid-caption{line-height: 29px;}
.grid-caption  p{
	font-family: Merriweather, Source Sans Pro;
	font-size: 27px;
	margin-bottom: 0px;
}
.grid-caption  span{font-size: 16px;}  
.lib-imgs{
	display: flex;
	margin-left: 0px;
	margin-right: 0px;
}
.news-carousel{
	display: flex;
}

.vertical-line{
    border-color: #a4b16461;
    height: 18rem;
}
.banner-text a{
	color: #fff;
	font-size: 25px;
	margin-left: 10rem;
}
.banner-logo{
	margin-top: -71px;
	width: 10%!important;
}  
.back-top{
	position: absolute;
	top: -5%;
	margin-left: 40%;
	background-color: #a4b164;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 0;
	padding-top: 9px;
	padding-bottom: 9px;
	line-height: 24px;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.55px;
} 
.view-more{
	background-color: #a4b164;
	
	border-radius: 0;
	color: #fff;
	padding: 15px 30px 15px 30px;
	line-height: 24px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 0.55px;
} 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.header-menu{
	width: 28rem;
} 
.navbar button{
	margin-top: 4px;
	font-size: 1rem;
}
.btn {
	font-size: medium;
} 
 .nav-button, .nav-search{
	margin-right: 3rem;
}
.form-check{
	position: relative;
	display: block;
	padding-left: 1.25rem;
}
.menu-logo{
	width: 40%;
}
.nav-contact-submit{
	width: 133.65px;
	height: 37.919px;
	position: absolute;
	font-weight: bold;
	letter-spacing: 1px;
}
.nav-contact-section .form-check .form-check-label{
	font-size: 14px;
}
/*.carousel-img{
	height: 89vh !important;
}*/

.grid-caption{line-height: 29px;}
.grid-caption  p{
	font-family: Merriweather, Source Sans Pro;
	font-size: 27px;
	margin-bottom: 0px;
}
.grid-caption  span{font-size: 16px;}  
.lib-imgs{
	display: flex;
	margin-left: 0px;
	margin-right: 0px;
}
.news-carousel{
	display: flex;
}

.vertical-line{
    border-color: #a4b16461;
    height: 15rem;
}
.banner-text a{
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
.banner-logo{
	margin-top: -71px;
	width: 10%!important;
}
.back-top{
	position: absolute;
	top: -5%;
	margin-left: 42%;
	background-color: #a4b164;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 0;
	padding-top: 9px;
	padding-bottom: 9px;
	line-height: 24px;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.55px;
} 
.view-more{
	background-color: #a4b164;
	
	border-radius: 0;
	color: #fff;
	padding: 15px 30px 15px 30px;
	line-height: 24px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 0.55px;
} 
}
