<div class="">
	<button id="scroll-top-btn" onClick="M.scrollTop();" class="btn d-block mx-auto">BACK TO TOP</button>

			<div class="row no-gutters footer-wrapper container-bg">
				<div id="footer-site-map" class="col px-5 pt-5 pb-2">
					<div class="row btm-border">
						<div class="col">
							<h4>Initiatives</h4>
							<ul class="list-unstyled">
								<li><a href="../initiatives#initiatives-vidyaloke">Vidyaloke</a></li>
								<li><a href="../initiatives#initiatives-vanakrishi">Vana Krishi</a></li>
							</ul>
						</div>
						<div class="col">
							<h4>Collaborations</h4>
							<ul class="list-unstyled">
								<li><a href="../collaborations#collab-siddhartha-festival">Siddhartha Festival</a></li>
								<li><a href="../collaborations#collab-lighting-the-mahabodhi">Lighting The Mahabodhi</a></li>
								<li><a href="../collaborations#collab-see">Social Emotional Ethical Learning</a></li>
							</ul>
						</div>
						<div class="col">
							<h4>Events</h4>
							<ul class="list-unstyled">
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>
					
					<div class="row pt-3">
						<div class="col">
							<h4>Visual Archive</h4>
							<ul class="list-unstyled">
								<li></li>
								<li></li>
							</ul>
						</div>
						<div class="col">
							<h4>News</h4>
							<ul class="list-unstyled">
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
						<div class="col">
							<h4>Library</h4>
							<ul class="list-unstyled">
								<li><a href="../library#videos">Videos</a></li>
								<li><a href="../library#recordings">Recordings</a></li>
								<li><a href="../library#teachings">Teachings</a></li>
								<li><a href="../library#readings">Recommended Reading</a></li>
							</ul>
						</div>
					</div>
					<div class="row copyright" >
						<div class="col-sm-8 footer-copyright"><p>Copyright © 2018 Vana Foundation</p></div>
						<div class="col-sm-4 footer-copyright"><p>Credits</p></div>
					</div>
				</div>
				<div id="footer-get-in-touch" class="col-md-3 pt-5 pr-4 pb-4">
					<h5>Get in Touch</h5>
					<p>
						Vana Foundation <br />
						Vana
						Mussoorie Road <br />
						Dehradun 248001
						<br />
						p: +91 135 391 1111 <br />
						e: connect@vanafoundation.org.in <br />
					</p>
					<!--Follows Us-->
					<ul class="d-flex list-unstyled">
						<!--li><a href=""><img class="img-responsive w-auto mr-4" src="../assets/icon/facebook.png"></a></li-->
						<li><a href=""><img class="img-responsive w-auto mr-4" src="../assets/icon/instagram.png"></a></li>
						<li><a href=""><img class="img-responsive w-auto mr-4" src="../assets/icon/email.png"></a></li>
					</ul>
					<!--Subscribe to our Newsletter-->
					<form>	
						<!-- Email -->
					    <input class="form-control rounded-0 email-input" type="email"  placeholder="E-Mail" />
					    <!--Message-->
					    <textarea class="form-control rounded-0 ControlTextarea2" rows="5" placeholder="Message (50 Words)"></textarea>
					    <!---->
					    <div class=" my-3">
					        <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
					        <label class="form-check-label" for="autoSizingCheck2">
					        	Subscribe to our Newsletter</label>
					    	<button type="submit" class="btn py-0 float-right form-submit">SUBMIT</button>
					    </div>
					</form>
				</div>
			</div>
		</div>