
<nav class="navbar navbar-light fixed-top py-0">
  <a class="navbar-brand" href="../home">
  	<img class="d-inline-block align-top" src="../assets/icon/logo.png">
  </a>

  <div class="form-inline ml-auto">
  	<a class="header-button mr-4 pr-4 d-none d-md-block" href="#">
  		<button class="btn donate-btn donate-typography">DONATE</button>
  	</a>
  	<a id="header-search-icon" class="pr-4" href="#"><img class="img-responsive" src="../assets/icon/search.png"></a>

  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">  <div class="menu-toggle mx-auto">Menu</div>
   </button>
  </div>
  

   <div class="collapse navbar-collapse" id="navbarNav">

       <ul class="navbar-nav ml-auto">
       	<!--li class="nav-item navlist-header">
       		<img class="img-fluid" src="../assets/icon/menu-logo.png" />
       	</li-->
         <li class="nav-item active">
           <a class="nav-link link-arrow collapsed" data-toggle="collapse" aria-expanded="false" href="#nav-initiatives">Initiatives  <span class="sr-only"></span></a>
           <div id="nav-initiatives" class="collapse">
           	<a class="nav-link link-collapse" href="../initiatives#initiatives-vidyaloke">
           		Vidyaloke
              <!-- img src="../assets/icon/visit.png" class="img-fluid" -->
           	</a>
           	<a class="nav-link link-collapse" href="../initiatives#initiatives-page">
           		Vana Krishi
           	</a>
           </div>
         </li>
         <li class="nav-item">
           <a class="nav-link link-arrow collapsed" data-toggle="collapse" aria-expanded="false" href="#nav-collaboration">Collaborations
           	
       	   </a>
           <div id="nav-collaboration" class="collapse">
           	<a class="nav-link link-collapse" href="../collaborations#collab-siddhartha-festival">
           		Siddhartha Festival
           	</a>
           	<a class="nav-link link-collapse" href="../collaborations#collab-see">
           		Social Emotional Ethical (SEE) Learning
           	</a>
           	<a class="nav-link link-collapse" href="../collaborations#collab-lighting-the-mahabodhi">
           		Lighting the Mahabodhi
           	</a>
           	
           </div>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="../events">Events</a>
         </li>
         <li class="nav-item">
           <a class="nav-link link-arrow collapsed" data-toggle="collapse" aria-expanded="false" href="#nav-library">Library </a>
           <div id="nav-library" class="collapse">
           	<a class="nav-link link-collapse" href="../library#lib-featured-player">
           		Videos
           	</a>
           	<a class="nav-link link-collapse" href="../library#recordings">
           		Recordings
           	</a>
           	<a class="nav-link link-collapse" href="../library#teachings">
           		Teachings
           	</a>
           	<a class="nav-link link-collapse" href="../library#readings">
           		Recommended Readings
           	</a>
           </div>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="../visual-archive">Visual Archive</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="../home#featured-news">News</a>
         </li>
         <li class="nav-item nav-contact-section">
         	<h3>Get in Touch</h3>
         	<div class="form-group">	
         	
         	    <input type="email" id="defaultContactFormEmail" class="form-control mb-2 rounded-0" placeholder="E-mail">
         	
         	    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5" placeholder="Message (50 Words)"></textarea>
         
         	    <div class="my-3">
         	        <input class="control-input" type="checkbox" id="subscribe-newsletter">
         	        <label class="form-check-label" for="subscribe-newsletter">Subscribe to our Newsletter</label>
         	        <button type="submit" class="btn nav-contact-submit px-0">SUBMIT</button>
         	   
         	    </div>
         	    
         	</div>
         	<div class="d-block mx-auto dropdown-followus">
         		<div class="btn-group btn-group-sm d-block mx-auto" role="group" aria-label="social media share">
         			
         			  <button type="button" class="btn "><img class="d-inline-block" src="../assets//icon/insta.png"></button>
         			  <button type="button" class="btn"><img class="d-inline-block" src="../assets//icon/mail.png"></button>
         		</div>
         		
         	</div>
       	  </ul>
       </div>
     </li>
    </ul>
  </div>
</nav>
